/*
UPPERCASE classes are handled by JavaScript
- .rtl can be added to body element
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes autofilled {}

@keyframes autofilled {}@-webkit-keyframes stopActivation {}@keyframes stopActivation {}@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.flat-left,
.flat-left label,
.flat-left input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.flat-right,
.flat-right label,
.flat-right input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tInput {
  position: relative;
  height: 36px;
  margin-top: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.tInput input,
.tInput label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 10px;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: transparent;
}

.tInput label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: text;
  color: #555;
}

.tInput label::before {
  content: attr(data-icon);
  font-family: "Material Icons", "Material Icons Outlined", "Material Icons Round", "Material Icons Sharp", "Material Icons Two Tone";
  margin: 0 0.2em 0 0;
}

.tInput input {
  width: 100%;
  height: 36px;
  outline: none;
  border: 1px solid #ccc;
}

.tInput input:focus {
  border-color: #777;
}

.tInput input:disabled + label {
  cursor: default;
  opacity: 0.8;
}

.tInput input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.tInput input:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.tInput input::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.tInput input::placeholder {
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.tInput input[type="email"], .tInput input[type="url"], .tInput input[type="tel"], .tInput input[type="number"] {
  direction: ltr;
  text-align: left;
}

.tInput input:autofill {
  -webkit-animation: autofilled;
          animation: autofilled;
  background: transparent !important;
}

.tInput input:-webkit-autofill {
  -webkit-animation: autofilled;
          animation: autofilled;
  background: transparent !important;
}

.tInput.ACTIVE label {
  top: -20px;
  left: 5px;
  padding: 0 5px;
  font-size: 0.9em;
  color: #222;
  background: #ecf0f3;
}

.tInput.ACTIVE input::-webkit-input-placeholder {
  opacity: 1;
}

.tInput.ACTIVE input:-ms-input-placeholder {
  opacity: 1;
}

.tInput.ACTIVE input::-ms-input-placeholder {
  opacity: 1;
}

.tInput.ACTIVE input::placeholder {
  opacity: 1;
}

.tInput.AUTOFILL label::after {
  content: "Auto filled";
  margin-left: auto;
  margin-right: -20px;
  color: #888;
  font-family: monospace;
}

.tInput.NOLABEL input::-webkit-input-placeholder {
  opacity: 1;
}

.tInput.NOLABEL input:-ms-input-placeholder {
  opacity: 1;
}

.tInput.NOLABEL input::-ms-input-placeholder {
  opacity: 1;
}

.tInput.NOLABEL input::placeholder {
  opacity: 1;
}

.tInput.rtlI label {
  left: unset;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.tInput.rtlI label::before {
  margin: 0 0 0 0.2em;
}

.tInput.rtlI input {
  text-align: right;
  direction: rtl;
}

.tInput.rtlI.ACTIVE label {
  left: unset;
  right: 5px;
}

.tInput.rtlI.AUTOFILL label::after {
  margin-left: -20px;
  margin-right: auto;
}

@-webkit-keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}

.cInput,
.rInput {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 36px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cInput label,
.rInput label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cInput label span.label,
.rInput label span.label {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0 0.3em;
}

.cInput label span.cr-box,
.rInput label span.cr-box {
  position: relative;
  width: 22px;
  height: 22px;
  margin: 3px;
  cursor: pointer;
  border: 2px solid #ccc;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.cInput label span.cr-box::after,
.rInput label span.cr-box::after {
  content: "";
  position: absolute;
  left: -36%;
  top: -36%;
  width: 172%;
  height: 172%;
  background: rgba(50, 50, 50, 0.05);
  opacity: 0;
}

.cInput input,
.rInput input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.cInput input:checked + label span.cr-box,
.rInput input:checked + label span.cr-box {
  border-color: #127900;
}

.cInput input:focus + label span.cr-box::after,
.rInput input:focus + label span.cr-box::after {
  opacity: 0.8;
}

.cInput input:disabled + label span.cr-box,
.rInput input:disabled + label span.cr-box {
  opacity: 0.6;
  cursor: default;
}

.cInput input:disabled + label span.cr-box::after,
.rInput input:disabled + label span.cr-box::after {
  opacity: 0;
}

.cInput input:disabled + label span.label,
.rInput input:disabled + label span.label {
  opacity: 0.6;
}

.cInput:hover label span.cr-box::after,
.rInput:hover label span.cr-box::after {
  opacity: 1;
}

.cInput label span.cr-box {
  border-radius: 2px;
}

.cInput label span.cr-box::after {
  border-radius: 5px;
}

.cInput label span.cr-box svg {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.cInput label span.cr-box polyline {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

.cInput label span.cr-box polyline {
  fill: none;
  stroke: #127900;
  stroke-miterlimit: 50px;
  stroke-width: 16px;
}

.cInput input:checked + label span.cr-box polyline {
  -webkit-animation: check 0.1s ease-in-out forwards;
          animation: check 0.1s ease-in-out forwards;
}

.rInput label span.cr-box {
  border-radius: 50%;
}

.rInput label span.cr-box::after {
  border-radius: 50%;
}

.rInput label span.cr-box::before {
  content: "";
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background: #127900;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.rInput input:checked + label span.cr-box::before {
  opacity: 1;
}

.fInput {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 250px;
  height: 36px;
}

.fInput label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px dashed #ccc;
  font-size: 0.92em;
  overflow: hidden;
  font-family: monospace;
  line-break: anywhere;
}

.fInput label::before {
  content: attr(data-icon);
  font-family: "Material Icons", "Material Icons Outlined", "Material Icons Round", "Material Icons Sharp", "Material Icons Two Tone";
  margin: 0 0.2em 0 0;
}

.fInput label .fI-detail {
  position: absolute;
  right: 5px;
  top: 50%;
  padding: 1px 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: normal;
  border-radius: 2px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  color: #555;
}

.fInput input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.fInput input:focus + label {
  border-color: #777;
}

.fInput.active label {
  border-style: solid;
}

.fInput:hover label {
  background: rgba(50, 50, 50, 0.05);
}

.fI-expand {
  font-family: monospace;
}

.fI-expand > p {
  position: relative;
  padding: 0.5em 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fI-expand > p .fI-detail {
  position: absolute;
  right: 0.3em;
  top: 50%;
  padding: 1px 2px;
  background: #ecf0f3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: normal;
  border-radius: 2px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  color: #555;
}

.fI-expand > p:nth-child(even) {
  background: rgba(50, 50, 50, 0.1);
}

@-webkit-keyframes drs-pending {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0) scale(0.5);
            transform: translate(-50%, 0) scale(0.5);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(10);
            transform: translate(-50%, -50%) scale(10);
  }
}

@keyframes drs-pending {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0) scale(0.5);
            transform: translate(-50%, 0) scale(0.5);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(10);
            transform: translate(-50%, -50%) scale(10);
  }
}

.bInput {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 2px;
  overflow: hidden;
}

.bInput label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  height: 36px;
  padding: 0 1em 0 0.8em;
  border: 1px dashed #ccc;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.bInput label::before {
  content: attr(data-icon);
  font-family: "Material Icons", "Material Icons Outlined", "Material Icons Round", "Material Icons Sharp", "Material Icons Two Tone";
  margin: 0 0.2em 0 0;
}

.bInput label::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 100%) scale(0.5);
          transform: translate(-50%, 100%) scale(0.5);
  width: 36px;
  height: 36px;
  opacity: 0;
  background: rgba(50, 50, 50, 0.2);
  border-radius: 50%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bInput input,
.bInput button {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.bInput input:focus + label,
.bInput button:focus + label {
  border-color: #777;
}

.bInput input:active:not(:disabled) + label,
.bInput button:active:not(:disabled) + label {
  background: rgba(50, 50, 50, 0.2);
}

.bInput input:disabled,
.bInput button:disabled {
  pointer-events: none;
}

.bInput input:disabled + label,
.bInput button:disabled + label {
  color: #888;
  cursor: default;
}

.bInput.PENDING label {
  color: #555;
}

.bInput.PENDING label::after {
  -webkit-animation: drs-pending 2s ease-in infinite;
          animation: drs-pending 2s ease-in infinite;
}

.bInput.SUCCESS input:disabled + label,
.bInput.SUCCESS button:disabled + label {
  color: #222;
  border-color: #69b969;
}

.bInput.SUCCESS input:disabled + label::after,
.bInput.SUCCESS button:disabled + label::after {
  background: #69b969;
  -webkit-animation: drs-pending 2s ease-in forwards;
          animation: drs-pending 2s ease-in forwards;
}

.bInput.FAIL input:disabled + label,
.bInput.FAIL button:disabled + label {
  color: #222;
  border-color: #ff5151;
}

.bInput.FAIL input:disabled + label::after,
.bInput.FAIL button:disabled + label::after {
  background: #ff5151;
  -webkit-animation: drs-pending 2s ease-in-out forwards;
          animation: drs-pending 2s ease-in-out forwards;
}

.bInput:hover input:not(:disabled) + label,
.bInput:hover button:not(:disabled) + label {
  background: rgba(50, 50, 50, 0.05);
}

.bInput.rtlI label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bInput.rtlI label::before {
  margin: 0 0 0 0.2em;
}
