* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ecf0f3;
  font-family: Arial;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: ". info .";
}

section.light,
section.dark,
section.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  flex-basis: 100%;
}

section.info {
  grid-area: info;
  background: linear-gradient(90deg, #eee 50%, #181818 50%);
  article {
    width: 100%;
    text-align: center;
    & > * {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 3px;
      border: 1px dashed #aaa;
      backdrop-filter: blur(5px);
      background: linear-gradient(
        90deg,
        rgba(100, 100, 100, 0.5),
        rgba(200, 200, 200, 0.5)
      );
      color: #000;
      font-family: "Courier New", Courier, monospace;
    }
    code {
      font-family: monospace;
    }
  }
}

section article {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.eachRow {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.item-parent {
  display: flex;
  width: 50%;
}

.span-item {
  margin: 0 5px;
  border-radius: 3px;
  padding: 3px 5px;
}

.x2 {
  flex-basis: 100px;
}

.x3 {
  flex-basis: 150px;
}

.x4 {
  flex-basis: 200px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

#Loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  .loader {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    border-radius: 30px;
    animation: rotate 2s infinite linear;
    transition: 0.3s ease;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50px;
    }
    &::after {
      left: -12px;
      top: -12px;
      width: 70px;
      height: 70px;
      border: 1px solid transparent;
      border-top: 1px solid #777;
      border-bottom: 1px solid #777;
      animation: rotate 2s alternate infinite ease;
    }
    &::before {
      left: -23px;
      top: -23px;
      width: 90px;
      height: 90px;
      border: 1px solid transparent;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      animation: rotate 1.5s alternate infinite ease;
    }
  }
  .text {
    margin-top: 2em;
    font-family: monospace;
    &::after {
      display: inline-block;
      min-width: 25px;
      content: "";
      animation: dots 1s infinite;
    }
  }
}
