@font-face {
  font-family: "Segoe UI Regular";
  src: local("Segoe UI Regular"), url("../fonts/Segoe\ UI.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: local("Segoe UI Bold"),
    url("../fonts/Segoe\ UI\ Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
